In [ ]:
import pandas as pd
import datetime
pd.set_option("max_rows", None)
pd.set_option("max_columns", None)
#url ='https://data.pmel.noaa.gov/generic/erddap/tabledap/tao_flux_clim_lwr_absolute.csv?EVAP,time,latitude,longitude,wmo_platform_code&orderByClosest(%22time/24hours%22)&time>=2009-04-01&time<=2011-12-31&wmo_platform_code="13001"'
#url='https://data.pmel.noaa.gov/generic/erddap/tabledap/NTAS_flux.csv?TA_H,time,latitude,longitude,wmo_platform_code&orderByClosest(%22time/24hours%22)&time>=2012-05-01&time<=2013-01-01&wmo_platform_code="48401.0"'
url='https://data.pmel.noaa.gov/generic/erddap/tabledap/NTAS_flux.csv?TA_H,time,latitude,longitude,wmo_platform_code,depth&time>=2012-05-01&time<=2013-01-01&wmo_platform_code="48401.0"&orderBy("time,depth")&depth=5.7'
df = pd.read_csv(url, skiprows=[1])
df.loc[:, 'time'] = pd.to_datetime(df['time'])
df2 = df.set_index('time')
df2 = df2[~df2.index.duplicated()]
print(df2)

In [ ]:
tindex = pd.date_range(df['time'].iloc[0], df['time'].iloc[-1],freq='1H')
tindex

In [ ]:
joe = tindex.append(df2.index)
jane = joe[~joe.duplicated()]
jane

In [ ]:
df3 = df2.reindex(jane)
df3

In [ ]:
mask1 = ~df3['wmo_platform_code'].notna() & ~df3['wmo_platform_code'].shift().notna()
mask2 = df3['wmo_platform_code'].notna()
df4 = df3[mask1 | mask2]
df4

In [ ]:
df5 = df4.drop_duplicates()
df5